@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<section class="section container" style="text-align:center;padding-top:3rem;">
    <h1 class="h1">An error occurred</h1>
    <p class="p-gray">Please try again or <a href="/" style="color:#7c3aed;">return home</a>.</p>
</section>
